
#maincanvas {
  border: solid 1px green;
}

.pointer, .pointer option {
  cursor: pointer;
}

.limitation {
  max-height: 90vh;
}

.toright {
  display: flex;
  flex-direction: row;
}

.pad1 {
  padding: 1em;
}
